if flashSuccess
  .alert.alert-success.alert-dismissible.fade.show.text-start(role='alert')
    = flashSuccess
    button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')

if flashError
  .alert.alert-danger.alert-dismissible.fade.show.text-start(role='alert')= flashError
    button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
