html
  head(lang='en')
    // Self-referencing canonical URL for SEO, so search engines know the preferred URL for this page
    // This should be added for each page to indicate the preferred URL
    link(rel="canonical" href="https://kelvinkamara.com")
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title #{title} - #{config.appName}

    include stylesheets    
  body
    include navbar
    
    block content

    include footer

    include scripts
